.products {
  width: 100%;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

/* List view */
.listView {
  display: flex !important;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 1200px) {
  .productsContainer { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 900px) {
  .productsContainer { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 500px) {
  .productsContainer { grid-template-columns: 1fr; }
}
